@font-face {
    font-family: 'HMT';
    src: url('../fonts/HMT.woff') format('woff');
}

@font-face {
    font-family: 'MilkyNice';
    src: url('../fonts/MilkyNice.woff') format('woff');
}

@font-face {
    font-family: 'Nickname';
    src: url('../fonts/Nickname.woff') format('woff');
}

@font-face {
    font-family: 'SweetTalk';
    src: url('../fonts/SweetTalk.woff') format('woff');
}

@font-face {
    font-family: 'PantonRustScrSmBold';
    src: url('../fonts/PantonRustScrSmBold.woff') format('woff');
}

@font-face {
    font-family: 'SweetlyScented';
    src: url('../fonts/SweetlyScented.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    content: '';
}

body {
    max-width: 100%;
    max-height: 100%;
    background: #2F3130;
}

header {
    display: block;
    width: 100%;
}

/* Navegador */

.menu_bar {
    display: none;
}

.navegator {
    width: 100%;
    padding-right: 50px;
}

.navegator nav {
    background-color: #2F3130;
    float: right;
    max-width: 1000px;
    margin: 20px auto;
}


.navegator nav ul li {
    list-style: none;
    float: left;
    padding-left: 56px;
    margin-top: 40px;
}

.navegator nav ul li a {
    font-family: 'HMT';
    text-decoration: none;
    color: #F9F1E6;
    font-weight: lighter;
    font-size: 20px;
    position: relative;
    transition: color 1s;
}

.navegator nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #F9B931;
    height: 2px;
    top: 40px;
    position: absolute;
    transition: width 1s;
}

.navegator nav ul li a:hover {
    color: #F9B931;
}

.navegator nav ul li a:hover::before {
    width: 100%;
}

@media screen and (max-width: 800px) {
    header {
        position: fixed;
    }

    .icon-menu:before {
        content: "\e9bd";
     }
    
    .navegator nav {
        width: 60%;
        height: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
    }

    .navegator nav ul li {
        display: block;
        float: none;
    }

    .menu_bar {
        display: block;
        width: 100%;
        background: #2F3130;
    }

    .menu_bar .bt-menu {
        display: block;
        margin: 15px;
        color: #F9F1E6;
        text-decoration: none;
        font-family: 'HMT';
        font-weight: lighter;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .menu_bar span {
        float: right;
    }
}

/* Inicio */

.Inicio {
    width: 100%;
    height: auto;
    padding-bottom: 4rem;
}

.info_photo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 12rem 0 5rem 0rem;
}

.photo_profile {
    max-width: 65%;
    width: 40%;
    height: auto;
}

.info_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.home_1 {
    font-family: 'Nickname';
    color: white;
    font-size: 2rem;
}

.home_2 {
    font-family: 'Nickname';
    color: white;
    font-size: 2rem;
}

.animationText {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.animationText .home_3 {
    font-family: 'PantonRustScrSmBold';
    color: white;
    font-size: 18px;
    width: 27ch;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 6s steps(54) alternate infinite;
    overflow: hidden;
}

@keyframes typing {
    to{
        width: 0;
    }
}

@media  screen and (min-width: 800px) {
    .Inicio {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 4rem;
        height: 100vh;
    }

    .info_photo {
        width: 55%;
        padding-right: 4rem;
    }

    .photo_profile {
        object-fit: contain;
        max-width: 50rem;
    }

    .info_text {
        width: 40%;
        padding-left: 6rem;
    }

    .container_text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        letter-spacing: .2rem;
        text-align: start;
        margin-top: 6rem;
    }

    .home_1 {
        font-size: 35px;
        font-weight: bold;
    }

    .home_2 {
        font-size: 45px;
        font-weight: bold;
    }

    .home_3 {
        font-size: 22px;
        width: 36ch;
    }
}


/* SobreMi */

.SobreMi {
    background-color: #7b8afd;
    width: 100%;
    height: auto;
}

.SobreMi h1 {
    color: white;
    font-family: 'HMT';
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.sobreMi_container{
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem 3rem 3rem;
}

.sobreMi_container span {
    color: white;
    font-size: 18px;
    font-family: Tahoma;
    letter-spacing: .1rem;
    line-height: 1.8rem;
    text-align: center;
}

.sobreMi_title {
    color: #F9B931;
    text-align: center;
    font-family: 'MilkyNice';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
}


.sobreMi_picture {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
}

.sobreMi_photo {
    width: 55%;
    margin-bottom: 5rem;
}


@media screen and (min-width: 800px) {

    .SobreMi {
        display: flex;
        flex-direction: column;
        padding-top: rem;
        height: 100vh;
    }

    .SobreMi h1 {
        text-align: center;
    }

    .sobreMi_text {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .sobreMi_container{
        width: 70%;
    }

    .sobreMi_container span {
        font-size: 30px;
        text-align: justify;
        letter-spacing: .1rem;
        line-height: 2rem;
        padding: 0 5% 0 10rem;
    }

    .sobreMi_picture {
        width: 45%;
        height: auto;
        margin-top: 2rem;
        margin-left: 100px;
    }

    .sobreMi_title {
        text-align: flex-start;
        font-size: 34px;
        letter-spacing: .1rem;
    }
}

