@font-face {
    font-family: 'HMT';
    src: url('../fonts/HMT.woff') format('woff');
}

@font-face {
    font-family: 'MilkyNice';
    src: url('../fonts/MilkyNice.woff') format('woff');
}

@font-face {
    font-family: 'Nickname';
    src: url('../fonts/Nickname.woff') format('woff');
}

@font-face {
    font-family: 'SweetTalk';
    src: url('../fonts/SweetTalk.woff') format('woff');
}

@font-face {
    font-family: 'PantonRustScrSmBold';
    src: url('../fonts/PantonRustScrSmBold.woff') format('woff');
}

@font-face {
    font-family: 'SweetlyScented';
    src: url('../fonts/SweetlyScented.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    content: '';
}

body {
    max-width: 100%;
    max-height: 100%;
    background: #2F3130;
}

header {
    display: block;
    width: 100%;
}

/* Navegador */

.menu_bar {
    display: none;
}

.navegator {
    width: 100%;
    padding-right: 50px;
}

.navegator nav {
    background-color: #2F3130;
    float: right;
    max-width: 1000px;
    margin: 20px auto;
}


.navegator nav ul li {
    list-style: none;
    float: left;
    padding-left: 56px;
    margin-top: 40px;
}

.navegator nav ul li a {
    font-family: 'HMT';
    text-decoration: none;
    color: #F9F1E6;
    font-weight: lighter;
    font-size: 20px;
    position: relative;
    transition: color 1s;
}

.navegator nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #F9B931;
    height: 2px;
    top: 40px;
    position: absolute;
    transition: width 1s;
}

.navegator nav ul li a:hover {
    color: #F9B931;
}

.navegator nav ul li a:hover::before {
    width: 100%;
}

@media screen and (max-width: 800px) {
    header {
        position: fixed;
    }

    .icon-menu:before {
        content: "\e9bd";
     }
    
    .navegator nav {
        width: 60%;
        height: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
    }

    .navegator nav ul li {
        display: block;
        float: none;
    }

    .menu_bar {
        display: block;
        width: 100%;
        background: #2F3130;
    }

    .menu_bar .bt-menu {
        display: block;
        margin: 15px;
        color: #F9F1E6;
        text-decoration: none;
        font-family: 'HMT';
        font-weight: lighter;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .menu_bar span {
        float: right;
    }
}

/* Inicio */

.Inicio {
    width: 100%;
    height: auto;
}

.info_photo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 12rem 0 5rem 0rem;
}

.photo_profile {
    max-width: 65%;
    width: 40%;
}

.info_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.home_1 {
    font-family: 'Nickname';
    color: white;
    font-size: 2rem;
}

.home_2 {
    font-family: 'Nickname';
    color: white;
    font-size: 2rem;
}

.home_3 {
    font-family: 'PantonRustScrSmBold';
    color: white;
    width: 28.2ch;
    font-size: 2rem;
    white-space: nowrap;
}



@media  screen and (min-width: 800px) {
    .Inicio {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 4rem;
        height: 100vh;
    }

    .info_photo {
        width: 55%;
        padding-right: 4rem;
    }

    .photo_profile {
        object-fit: contain;
        max-width: 50rem;
    }

    .info_text {
        width: 40%;
        padding-left: 6rem;
    }

    .container_text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        letter-spacing: .2rem;
        text-align: start;
        margin-top: 6rem;
    }

    .home_1 {
        font-size: 35px;
        margin-left: 0.4rem;
        font-weight: bold;
        margin-right: 1rem;
    }

    .home_2 {
        font-size: 45px;
        margin-left: 0.4rem;
        font-weight: bold;
        margin-right: 1rem;
    }

    .home_3 {
        display: block;
        font-size: 29px;
        width: 28.2ch;
        font-weight: bold;
        white-space: nowrap;
        border-right: 1px solid;
        animation: typing 8s steps(58) alternate infinite;
        overflow: hidden;

    }

    @keyframes typing {
        to{
            width: 0%;
        }
    }
}
